@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,900');

#root {
}

.App {
    display: flex;
    font-family: 'Gothic A1', sans-serif;
    background-color: white;
    margin-top: 64px;
}

.Navbar {
    height: 64px;
    background-color: #070A14;
    position: absolute;
    width: 100%;
    top: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 100;
    display: flex;
    align-items: center;
}

.Navbar h1 {
    font-family: inherit;
    font-weight: 900;
    font-size: 2rem;
    margin:  32px;
    color: white;
}

.gameTable {
    flex: 1;
    border: #ededed solid 1px;
    z-index: 3;
}

/*  Game Details  */

.sidePanel {
    width: 640px;
}

.teamDetails .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background-color: white;
    position: relative;
    height: 480px;
}

.teamDetails .header img {
    position: absolute;
    height: 480px;
    top: 0;
    left: 0;
    transform: rotate(-10deg) translate(-25%, -5%);
    z-index: 0;
}

.teamDetails .header .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    right: 32px;
}

.teamDetails .header .titles h5, .playerDetails .header h5 {
    font-family: inherit;
    font-weight: 900;
    font-size: 1rem;
}

.teamDetails .header .titles h1, .playerDetails .header h1 {
    font-family: inherit;
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
}

.playerDetails .header img {
    height: 360px;
}

.playerDetails .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    flex-direction: column;
}

.infoItem {
    padding: 12px 32px;
}

.infoItem .label {
    font-family: inherit;
    font-weight: 100;
    font-size: 1.2rem;
    margin: 0;
    color: grey;
    text-transform: uppercase;
    padding: 0 32px
}

.infoItem .item {
    font-family: inherit;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0;
    color: black;
    padding: 0 32px;
}

.infoItem ul.item {
    list-style-type: none;
    padding: 0;
}

.infoItem li {
    padding: 8px 32px 2px 32px;
    border-radius: 4px;
}

.infoItem li:hover {
    cursor: pointer;
    background-color: #F2F3F4;
}

.gameDetails .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background-color: white;
}

.gameDetails .league {
    margin: 0;
    font-weight: 900;
    color: #111111;
    flex: 1;
}

.gameDetails .matchup {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 12px;
}

.gameDetails .team {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 192px;
}

.gameDetails .team img {
    height: 128px;
    width: 128px;
    object-fit: cover;
}

.gameDetails .team h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 900;
    color: #111111;
    text-align: center;
}

.gameDetails .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameDetails .time {
    color: #777777;
    font-weight: 900;
}

.gameDetails .time strong {
    color: #111111;
}

.gameDetails .score {
    font-size: 1.5rem;
    color: #111111;
    font-weight: bold;
    margin: 24px 0;
}

.oddsTable {
    width: 100%;
    padding: 32px;
}

.oddsTable table {
    border-collapse: collapse;
    width: 100%;
}

.oddsTable table, .oddsTable th, .oddsTable td {
    border: #ededed solid 1px;
    background-color: white
}

.oddsTable tr {
    height: 40px;
}

.oddsTable th {
    color: #777777;
    font-weight: 900;
    padding: 0 12px;
}

.oddsTable td {
    color: #111111;
    font-weight: 900;
    padding: 0 12px;
}

.oddsTable .centerText {
    text-align: center;
}

/*  Game Table  */

.gameTableItem, .gameTableHeader {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 12px 32px;
    background-color: white;
    border-bottom: #ededed solid 1px;
}

.gameTableItem:hover {
    cursor: pointer;
    background-color: #F2F3F4;
}

.gameTableHeader .title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    font-weight: 900;
    color: #111111;
    flex: 1;
    font-size: 1.2rem;
}

.gameTableHeader .odds div {
    width: 52px;
    font-weight: 900;
    color: #cecece;
    text-align: center;
}

.gameTableHeader .odds div:not(:last-child) {
    margin-right: 12px;
}

.gameTableItem .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameTableItem .time .hours {
    font-weight: 900;
    color: #111111;
}

.gameTableItem .time .day {
    font-weight: 300;
    font-family: inherit;
    color: #777777;
    font-size: 0.8rem;
}

.gameTableItem .scoreInfo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 32px;
}

.gameTableItem .team {
    display: flex;
    align-items: center;
    flex: 1;
}

.gameTableItem .team img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    margin: 0 12px;
}

.gameTableItem .team h3 {
    margin: 0;
    font-weight: 900;
    color: #111111;
    flex: 1;
}

.gameTableItem .team.away h3 {
    text-align: right;
}

.gameTableItem .score {
    font-weight: 900;
}

.gameTableItem .odds, .gameTableHeader .odds {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameTableItem .odds div {
    border: #ededed solid 1px;
    border-radius: 4px;
    padding: 6px 10px;
    color: #777777;
    font-weight: 900;
    width: 52px;
    text-align: center;
}

.gameTableItem .odds div:not(:last-child) {
    margin-right: 12px;
}
